# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Angular
.angular/cache

# OS
.DS_Store
Thumbs.db