# Compiled output
/dist
/tmp
/out-tsc
/.angular/cache

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment files (IMPORTANTE)
.env
.env.local
.env.*.local
/src/environments/environment.ts
/src/environments/environment.development.ts

# OS
.DS_Store
Thumbs.db

# Testing
/coverage

# API (si tienes backend local)
/api/.env
/api/node_modules
/api/dist